/*
 * Globals
 */

@font-face {
    font-family: 'aldo_the_apacheregular';
    src: url('aldotheapache-webfont.eot');
    src: url('aldotheapache-webfont.eot?#iefix') format('embedded-opentype'),
         url('aldotheapache-webfont.woff') format('woff'),
         url('aldotheapache-webfont.ttf') format('truetype'),
         url('aldotheapache-webfont.svg#aldo_the_apacheregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
/* Links */
a:link {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a,
a:focus,
a:hover {
  color: #fff;
  border-bottom: 2px solid;
}

.nolink, .nolink:link, .nolink:focus, .nolink:hover {
  border-bottom: 0px solid;
  text-decoration:none;
}

.ppReferences {
  text-align:  left;
  margin-left:  2em;
  text-indent: -2em;
}

.ppCodeFormField {
  display: inline;
}

.ppCodeDateFix {
/*  margin-top: 0px;
  padding-top: 0px;
  height: 34px; */
}

.ppCode-label {
  height: 34px;
  width: 133px;
  text-align:right;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0px;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  color: #A4C3E2; /* #172F47; */
  background-color: hsl(210, 25%, 20%); /* #A4C3E2; */
  border: 1px solid hsl(210, 52%, 76%); /* hsl(210, 52%, 50%); /* #A4C3E2; /* #172F47; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.lead {
  margin-top: 20px;
  margin-bottom: 10px;
}

.cover-heading {
  color: #fff;
  letter-spacing: 5px;
  font-family: "aldo_the_apacheregular", 'Arial', sans-serif;
  font-size: 60px;
  text-shadow: 0 0 20px #A4C3E2,
               0 0 10px #A4C3E2;
}

.text-muted {
  text-shadow: 0 0 20px #999,
               0 0 10px #999;  
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #172F47;
  /* font-family: 'ShantiGreaterGoodVersionRg','Shanti','Helvetica Neue',Helvetica,Arial,sans-serif; */
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  /* box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
}

.box-shadow {
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.datetimepicker {
  color: #172F47;
}

.text-important-positive {
  color: #29DE25;
}

.text-important-neutral {
  color: #FFF;
}

.bg-important-positive {
  background-color: #3C763A !important;
  cursor: text !important;
}

.bg-important-neutral {
  background-color: #999 !important;
}

.partyPanelCode {
  width: 400px;
  font-size: 100%;
  height: auto;
  margin: 0px auto;
  text-align: centre;
  font-family: arial, helvetica, sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.smallprint {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-size: 16px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    /* float: right;
    */
    margin-left: auto;
    margin-right: auto;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
/*  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }/*
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
